.calculadora {
    height: 320px;
    width: 335px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr repeat(5, 48px);
    margin: auto;
  }
  .span-3 { grid-column: span 3; }
  .span-2 { grid-column: span 2; }