.button {
    font-size: 1.4rem;
    background-color: var(--cor-button);
    color: rgb(46, 46, 46);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
  }
  .button:active { opacity: .7; }
  
  
  .button.op { 
    background-color: dodgerblue; 
    color: white;   
    border-right: var(--border-button-op);
    border-bottom: var(--border-button-op);
  }
  .button.op:active { opacity: .5; }